.viewer {
    float: left;
    margin-right: 8px;
   
}
.visualcontrols {
 float: left;
	width: 200px;
   /* margin-left: 8px;*/
  }
  
  #bd-chart{
    width:600px;
	height:600px;
  }
  
 #chart-line-suicides{
    float: left;
    margin-right: 8px;
   
}


#main-container{
  margin-left: 50px;
  overflow:hidden;
  width:900px;
}